@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #46688d;
    color: #fff;
    width: 100%;
}

#main-container {
    display: flex;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 8px;
    z-index: 100;
    transition: top 1s;
}

.skip-link:focus {
    top: 0;
}

@media (min-width: 768px) {
    header h1 {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    header {
        padding: 10px;
        text-align: center;
    }
}

#main-content {
    flex: 1;
    padding: 20px;
    margin-left: 3em;
    margin-right: 3em;
}

#menu-toggle {
    display: none;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #menu {
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
    }

    #menu.show {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main-content {
        margin-left: 1em;
        margin-right: 1em;
    }

    #menu-toggle {
        display: block;
    }
}

.icon-image > img {
    height: 1.5rem;
    vertical-align: middle;
}

/* tabela */
.table-bordered {
    border: 1px solid #141313;
}

.table {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

table {
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    border-color: gray;
    border-spacing: 0;
    border-collapse: collapse;
    min-width: 50%;
    max-width: 70vw;
    background-color: transparent;
    text-align: center;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

table > caption {
    text-align: center;
    font-weight: bold;
}

/* figuras */
figure {
    display: block;
    text-align: center;
    padding: 20px;
}

figure > img {
    max-width: 70vw;
    max-height: 70vh;
    overflow: auto;
}

figcaption {
    text-align: center;
    font-weight: bold;
}

.video_caixa{
    display: flex;
    align-items: center;
    justify-content: center;
}

.video{
    margin: 20px;
}

.footer{
    text-align: center;
    padding: 12px;
    background-color: #46688d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer a{
    color: #ffffff;
}

.footer a:hover{
    color: #deeeff;
}