@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800&display=swap');

body {
	font-family: 'Lexend', sans-serif;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

header {
	background-color: #46688d;
	color: #fff;
}

h2, a {
	color: #1c518a;
}
h2 {
	margin-top: 60px;
}

a:hover {
	color: #000;
}

.div-centralizada {
	display: flex;
	justify-content: center;
	align-items: center;
}

#main-container {
	display: flex;
}

.skip-link {
	position: absolute;
	top: -40px;
	left: 0;
	background: #000;
	color: #fff;
	padding: 8px;
	z-index: 100;
	transition: top 1s;
}

.skip-link:focus {
	top: 0;
}

@media (min-width: 768px) {
	header h1 {
		display: flex;
		justify-content: center;
	}
}

#main-content {
	flex: 1;
	padding: 20px;
	margin-left: 3em;
	margin-right: 3em;
}

#menu-toggle {
	display: none;
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px;
	cursor: pointer;
}


.icon-image > img {
	height: 1.5rem;
	vertical-align: middle;
	transform: scale(1);
	transition: transform 0.2s;
}

.icon-image > img:hover,
.icon-image > img:focus {
	transform: scale(6);
}

/* tabela */
.table-bordered {
	border: 1px solid #141313;
}

.table {
	margin: 40px 0px;
	margin-left: auto;
	margin-right: auto;
}

table {
	display: table;
	box-sizing: border-box;
	text-indent: initial;
	border-color: gray;
	border-spacing: 0;
	border-collapse: collapse;
	min-width: 50%;
	max-width: 70vw;
	background-color: transparent;
	text-align: center;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #f9f9f9;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
	border: 1px solid #ddd;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	padding: 8px;
	line-height: 1.428571429;
	vertical-align: middle;
	border-top: 1px solid #ddd;
}

table > caption {
	text-align: center;
	font-weight: bold;
}

/* figuras */
figure {
	display: inline-block;
	text-align: center;
	margin: 40px 0px;
	margin-left: auto;
	margin-right: auto;
	padding:20px;
	border: 2px solid #1c518a;
	border-radius: 20px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

figure > img {
	max-width: 65vw;
	max-height: 65vh;
	width: auto;
}


figcaption {
	text-align: center;
	font-weight: 500;
	margin-top: 10px;
}

.video_caixa {
	display: flex;
	align-items: center;
	justify-content: center;
}

.video {
	margin: 20px;
}

.footer {
	text-align: center;
	padding: 12px;
	background-color: #46688d;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer a {
	color: #ffffff;
}

.footer a:hover {
	color: #deeeff;
}

@media (max-width: 768px) {
	#menu {
		display: none;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		height: 100%;
	}

	#menu.show {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#main-content {
		margin-left: 1em;
		margin-right: 1em;
	}

	#menu-toggle {
		display: block;
	}
	header {
		padding: 10px;
		text-align: center;
	}
	figure {
		display: block;
		text-align: center;
		padding: 0px;
		margin: 40px 0;
	}
	figure > img {
		max-width: 100%;
		max-height: 100%;
		width: auto;
	}
}
